* {
    margin: 0;
    padding: 0;
    font-family: 'Lora';
}

body {
    height: 100vh;
    background: white;
    background: linear-gradient(to right, rgba(0,0,0,.1), rgba(0,0,0,.3)), linear-gradient(to right, rgba(0,0,255,.2), rgba(100,0,255,.5));
    background: linear-gradient(to right, rgba(0,0,0,.1), rgba(0,0,0,.3)), linear-gradient(to right, rgba(0,0,255,.2), rgba(100,0,255,.5)), url("https://live.staticflickr.com/873/41432298791_344175f2ad_k_d.jpg") no-repeat fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    position: absolute;
    left: 5em;
    right: 5em;
}

header h1, header p {
    text-align: center;
    color: white;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Ubuntu';
    padding-bottom: .5em;
}

p {
    padding-bottom: 2em;
}

form p {
    padding-bottom: .5em;
    padding-top: .5em;
}

form {
    padding: 2em;
    background: rgba(0,0,50,.7);
    border-radius: .2em;
}

label {
    text-align: left;
    color: white;
}

input, select {
    display: block;
    border: transparent;
    border-radius: .2em;
    height: 2em;
    width: 100%;
    padding-left: .5em;
}

fieldset {
    margin-top: .5em;
    border: transparent;
    color: white;
}

legend {
    margin-bottom: .2em;
}

fieldset div {
    display: flex;
}

input[type="radio"], input[type="checkbox"] {
    width: unset;
    display: unset;
}

fieldset label {
    vertical-align: middle;
    line-height: 1.5em;
    margin-left: .5em;
}

textarea {
    width: 100%;
    padding-left: .5em;
    padding-top: .5em;
}