* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: white;
    background: linear-gradient(to right, rgba(0,0,0,.1), rgba(0,0,0,.3)), linear-gradient(to right, rgba(255,0,0,.5), rgba(100,0,255,.5));
    background: linear-gradient(to right, rgba(0,0,0,.1), rgba(0,0,0,.3)), linear-gradient(to right, rgba(255,0,0,.5), rgba(100,0,255,.5)), url("https://live.staticflickr.com/873/41432298791_344175f2ad_k_d.jpg") no-repeat fixed;
    background-size: cover;
}